<div class="container ">
    <h2>Quotation</h2>
    <hr>
    <form [formGroup]="quotForm" class="mb-4" (ngSubmit)="addQuot(quotForm)">

        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="card">

                    <div class="card-body">

                        <select class="form-control col-md-6 form-control-sm mb-2" id="cstName"
                            formControlName="id" (ngModelChange)="selectCustomer($event)">
                            <option value="">--Select Customer--</option>
                            <option *ngFor="let customers of customers" [ngValue]="customers">{{customers.cstName}}
                            </option>
                        </select>

                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mb-3" *ngIf="customerContact">
                                        <div class="input-group-prepend">
                                            <i-bs name="phone"></i-bs><span></span>&nbsp;
                                        </div>
                                        <input type="text" class="form-control form-control-sm border-0" readonly
                                            value="{{customerContact}}" placeholder="" aria-label=""
                                            aria-describedby="basic-addon1">

                                    </div>

                                    <div class="input-group mb-3" *ngIf="customerEmail">
                                        <div class="input-group-prepend"> 
                                            <i i-bs name="envelope"></i><span></span>&nbsp;
                                        </div>
                                        <input type="text" class="form-control form-control-sm border-0" readonly
                                            value="{{customerEmail}}" placeholder="" aria-label=""
                                            aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3" *ngIf="customerAddress">
                                        <div class="input-group-prepend">
                                            <i i-bs name="building"></i><span></span>&nbsp;
                                        </div>
                                        <input type="text" class="form-control form-control-sm border-0" readonly
                                            value="{{customerAddress}}" placeholder="" aria-label=""
                                            aria-describedby="basic-addon1">
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3" *ngIf="customerRefarance">
                                        <div class="input-group-prepend">
                                            <span style="font-weight: bold;">Refrance:</span>&nbsp;
                                        </div>
                                        <input type="text" class="form-control form-control-sm border-0" readonly
                                            value="{{customerRefarance}}" placeholder="" aria-label=""
                                            aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3" *ngIf="customerRefContact">
                                        <div class="input-group-prepend">
                                            <span style="font-weight: bold;">Ref. Contact:</span>&nbsp;
                                        </div>
                                        <input type="text" class="form-control form-control-sm border-0" readonly
                                            value="{{customerRefContact}}" placeholder="" aria-label=""
                                            aria-describedby="basic-addon1">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------- Subform Table start ------------------------------>

        <div class="card">
            <div class="card-body" formArrayName="productItem"
                *ngFor="let product of quotForm.get('productItem')['controls']; let i=index;">

                <div class="card" [formGroupName]="i">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h4>{{i+1}}</h4>
                            </div>
                            <div class="col-6 d-flex align-items-end flex-column"><a type="button"
                                    style="right: 0.65rem;" class="btn btn-link text-danger   text-decoration-none"
                                    (click)="removeItem(i)"><i i-bs name="trash"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">

                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Select Product</label>
                                <select class="form-control  form-control-sm mb-2" [id]="'proName'+i" name="proName"
                                    formControlName="proName" (change)="selectProduct($event,i)">
                                    <option value="" readonly>--Select product--</option>
                                    <option *ngFor="let products of products" [value]="products.id">{{products.proName
                                        }}</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label for="inputPassword4" class="form-label">Qty.</label>
                                <input type="number" class="form-control form-control-sm" [id]="'proQty'+i"
                                    name="proQty text-right" formControlName="proQty">
                            </div>
                            <div class="col-md-2">
                                <label for="inputPassword4" class="form-label">Rate</label>
                                <input type="number" class="form-control form-control-sm" [id]="'proRate'+i"
                                    name="proRate" formControlName="proRate">
                            </div>
                            <div class="col-md-2">
                                <label for="inputPassword4" class="form-label">Amount</label>
                                <input class="form-control form-control-sm" [id]="'proAmount'+i" name="proAmount"
                                    style="text-align: right;" formControlName="proAmount">
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm" [id]="'proDetails'+i"
                                    name="proDetails" formControlName="proDetails" placeholder="Details">
                                    <input hidden type="text" class="form-control form-control-sm" [id]="'proName'+i"
                                    name="proName" formControlName="proName" placeholder="Details">
                                    <input hidden type="text" class="form-control form-control-sm" [id]="'id'+i"
                                    name="id" formControlName="id" placeholder="Details">
                            </div>
                            <div class="col-md-3">

                                <input type="text" class="form-control form-control-sm" [id]="'proPlacing'+i"
                                    name="proPlacing" formControlName="proPlacing" placeholder="placing">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control form-control-sm" name="proDescription"
                                    [id]="'proDescription'+i" formControlName="proDescription" rows="3"
                                    placeholder="Description"></textarea>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control form-control-sm" type="text" name="proImage"
                                    [id]="'proImage'+i" formControlName="proImage" (change)="uploadImage($event,i)">


                            </div>

                            <div class="col-md-12">
                                <img src="{{proImage}}" class="img-thumbnail" alt="...">

                            </div>
                        </div>
                        <!--  -->
                    </div>

                </div>
            </div>
            <div class="row m-1 ">
                <div class="col-md-3">
                    <a type="button" class="btn btn-link text-decoration-none" (click)="addItem()">+ Add Item</a>
                </div>

                <div class="col-md-9  ">
                    <div class="d-grid  gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" type="submit">Save</button>
                        <button class="btn btn-primary" type="reset">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="card-footer text-muted " style="text-align: right;">
                Total Amount: {{ totalSum | currency:'INR':'symbol-narrow':'1.2-2'}} <br>
                Total Quantity: {{ totalQty }}

            </div>

        </div>
    </form>
    {{quotForm.value | json}}
    <!------------------- Subform Table end ------------------------------>
    <!-- <div class="table" id="results">
  <div class='theader'>
    <div class='table_header'>Header One</div>
    <div class='table_header'>Header Two</div>
    <div class='table_header'>Header Three</div>
    <div class='table_header'>Header Four</div>
    <div class='table_header'>Header Four</div>
    <div class='table_header'>Header Four</div>
  </div>
  <div class='table_row'>
    <div class='table_small'>
      <div class='table_cell'>Header One</div>
      <div class='table_cell'>-1.2726</div>
    </div>
    <div class='table_small'>
      <div class='table_cell'>Header Two</div>
      <div class='table_cell'>0.1311</div>
    </div>
    <div class='table_small'>
      <div class='table_cell'>Header Three</div>
      <div class='table_cell'>-0.4782</div>
    </div>
    <div class='table_small'>
      <div class='table_cell'>Header Four</div>
      <div class='table_cell'>-0.9919</div>
    </div>
    <div class='table_small'>
        <div class='table_cell'>Header Four</div>
        <div class='table_cell'>-0.9919</div>
      </div>
      <div class='table_small'>
        <div class='table_cell'>Header Four</div>
        <div class='table_cell'>-0.9919</div>
      </div>
  </div>

</div> -->